# These owners are the default owners for everything in
# the repo. Unless a later match takes precedence,
* @kousuke-nakano @addman2 @michele-casula

# @kousuke-nakano owns any files in the build/ directory at 
# the root of the repository and any of its subdirectories.
# /doc/ @kousuke-nakano
